<% @stories.each_with_index do |story, index| %>
	<div class='story-container' 
		data-url="<%= story.url %>" 
		data-id="<%= story.id %>"  
		data-subjects="<%= story.subjects.pluck(:primary, :secondary, :tertiary).map {|tiers| tiers.compact.join(':')}.join('|') %>"
		data-title="<%= story.title %>"
	>

		<div class='back-story-container'>
			<%= image_tag("Page Background.png", :class => "Page-image")%>
		</div>

		<div class='image-container'>
			<h1 class="title"><%= story.title %></h1>
			<img class='primary-image-noselect' src='<%= story.primary_image_url %>'/>
			<div class='view-count-container'>
				<%= image_tag("Views_Eyeball-01.png", :class => "view-count-image")%>
				<h3 class="reads"><%= story.reads || 0 %></h3>
			</div>
		</div>
		<div class="footer">
			<span class="footer-tag subject"><%= story.subjects[0].primary %></span>
			<span class="footer-tag published-at"><%= story.published_at.strftime("%m/%d/%Y") %></span>
			<span class="footer-tag place"><%= story.place %></span>
		</div>
		<!--
		<div class="share-buttons">
	    
		    <a href="https://bufferapp.com/add?url=<%= story.url %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
		    </a>
		    
		    <a href="http://www.digg.com/submit?url=<%= story.url %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" />
		    </a>
		    
		    <a href="mailto:?Subject=<%= story.title %>&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 <%= story.url %>">
		        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
		    </a>
		 
		    <a href="http://www.facebook.com/sharer.php?u=<%= story.url %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		    </a>
		    
		    <a href="https://plus.google.com/share?url=<%= story.url %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
		    </a>
		    
		    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= story.url %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
		    </a>
		    
		    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
		        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
		    </a>
		    
		    <a href="javascript:;" onclick="window.print()">
		        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
		    </a>
		    
		    <a href="http://reddit.com/submit?url=<%= story.url %>&amp;title=<%= story.title %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
		    </a>
		    
		    <a href="http://www.stumbleupon.com/submit?url=<%= story.url %>&amp;title=<%= story.title %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
		    </a>
		    
		    <a href="http://www.tumblr.com/share/link?url=<%= story.url %>&amp;title=<%= story.title %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
		    </a>
		     
		    <a href="https://twitter.com/share?url=<%= story.url %>&amp;name=<%= story.title %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
		    </a>
		    
		    <a href="http://vkontakte.ru/share.php?url=<%= story.url %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK" />
		    </a>
		    
		    <a href="http://www.yummly.com/urb/verify?url=<%= story.url %>&amp;title=<%= story.title %>" target="_blank">
		        <img src="https://simplesharebuttons.com/images/somacro/yummly.png" alt="Yummly" />
		    </a>
		 
		</div>
		-->
	</div>
<% end %>
