<div id="main-wrapper" class='container'>
	<div class='menu-bar-container'>
		<a href="/"><%= image_tag("Banner without icons-01.png", :class => "menu-banner-image")%></a>
		<%= image_tag("Cross-01.png", :class => "abc-home-image")%>
		<div class="burger-button">
			<a href="#" data-jq-dropdown="#jq-dropdown-1" ><%= image_tag("Hamburger-01.png", :class => "menu-hamburger-image")%>
		</div>
		
		<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right">
			<ul class="jq-dropdown-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/stories/saved">Saved Stories</a></li>
				<li class="jq-dropdown-divider"></li>
				<li><a href="/stories/stats">Stats</a></li>
			</ul>
		</div>
		</a>
	</div>
	

	<%= image_tag("Reject_Button-01.png", :class => "reject-image")%>
	<%= image_tag("Tick_Button-01.png", :class => "like-image")%>

	<div id="stories">
		<%= render :partial => "index", :object => @stories %>
	</div>

	<div id="feedback" class="feedback">
		<%= image_tag("SAVED STAMP-01.png", :id => "saved-feedback-image" , :class => "saved-feedback-image")%>
		<%= image_tag("REJECTED STAMP-01.png", :id => "reject-feedback-image", :class => "reject-feedback-image")%>
	</div>
</div>


<script>
	$(document).ready(function() {
		$('.story-container').first().addClass('active');

		$('.story-container').on("doubletap dblclick", function(e) {
			window.open($(this).attr("data-url"),'_blank');
			showNext();
		});

		$('.story-container').on("swipeleft", swipeleftHandler);
		$('.story-container').on("swiperight", swiperightHandler);

		$('.reject-image').on('click', swipeleftHandler);
		$('.like-image').on('click', swiperightHandler);


		function storyLiked(subjectsStr) {
			subjects = JSON.parse(localStorage.getItem("subjects") || null) || {};
			
			_.each(subjectsStr.split('|'), function(subject) {
				subjects[subject] = (subjects[subject] || 0) + 1
			});
			localStorage.setItem("subjects", JSON.stringify(subjects));

			console.log(localStorage.getItem("subjects"))		
		}

		function swiperightHandlerContinued() {
			$("#saved-feedback-image").hide();
			showNext();
		}

		function swiperightHandler( event ){
			if (event) {
				event.stopImmediatePropagation();
			}

			// Read later
			readLater = JSON.parse(localStorage.getItem("readLater") || null) || [];
			readLater.push({
				id: $('.story-container.active').attr("data-id"),
				title: $('.story-container.active').attr("data-title"),
				url: $('.story-container.active').attr("data-url"),

			});
			localStorage.setItem("readLater", JSON.stringify(_.uniq(readLater)));

			console.log(localStorage.getItem("readLater"));

			$("#saved-feedback-image").show();
			setTimeout(swiperightHandlerContinued, 400)
		}

		function swipeleftHandlerContinued() {
			$("#reject-feedback-image").hide();

			storyLiked($('.story-container.active').attr("data-subjects"));

			showNext();
		}

		function swipeleftHandler( event ){
			if (event) {
				event.stopImmediatePropagation();
			}

			// Reject
			$("#reject-feedback-image").show();
			setTimeout(swipeleftHandlerContinued, 400)
		}



		function showNext() {
			var remaining = $('.story-container.active').nextAll('.story-container').length;

			if (remaining) {
				var active = $('.story-container.active');
				active.removeClass('active');

				active.next().addClass('active');

				console.log("remaining ", remaining)
				if (remaining == 1) {

					params = {}
					
					subjectsArray = []
					subjects = JSON.parse(localStorage.getItem("subjects") || null) || {};
					_.each(subjects, function(count, subject) {
						if (count > 3) {
							subjectsArray.push(subject);
						}
					});
					params["subjects[]"] = subjectsArray


					// Load more
					$.get( "/stories", params, function( data ) {
						if (data) {
							// $("#main-wrapper .story-container:not(:last-child)").remove();
							$("#stories").append(data);
							
							// Bind new listeners
							$('.story-container:not(.active)').on("doubletap dblclick", function(e) {
								window.open($(this).attr("data-url"),'_blank');
								showNext();
							});

							$('.story-container:not(.checked)').on('swipeleft', swipeleftHandler);
							$('.story-container:not(.checked)').on('swiperight', swiperightHandler);


						} else {

						}
					});


					
				}
			}
		}



	});	
</script>
