<div id="main-wrapper" class='container'>
	<div class='menu-bar-container'>
		<a href="/"><%= image_tag("Banner without icons-01.png", :class => "menu-banner-image")%></a>
		<%= image_tag("Cross-01.png", :class => "abc-home-image")%>
		<div class="burger-button">
			<a href="#" data-jq-dropdown="#jq-dropdown-1" ><%= image_tag("Hamburger-01.png", :class => "menu-hamburger-image")%>
		</div>
		
		<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right">
			<ul class="jq-dropdown-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/stories/saved">Saved Stories</a></li>
				<li class="jq-dropdown-divider"></li>
				<li><a href="/stories/stats">Stats</a></li>
			</ul>
		</div>
		</a>
	</div>

	<div class='saved-container'>
		<h1>Saved Stories</h1>
		<h4 class="delete-all-saved">Delete All</h4>
	</div>
</div>

<script>
	function noSaved() {
		story_div = '<div class="saved-story alert">You haven\'t saved any stories! Swipe right on any stories that interest you to save them for later.</div>';
		$('div.saved-container').append(story_div);
	}

	function loadSaved() {
		var readLater = JSON.parse(localStorage.getItem("readLater") || null) || [];

		readLater.forEach(function(entry) {
			story_div = '<div class="saved-story">';
			story_div += '<a href="' + entry.url + '" target="_blank"><span class="saved-story-title">' + entry.title + '</span></a>';
			story_div += '<span class="saved-story-share">Share</span>';
			story_div += '<span class="saved-story-delete" data-storyid="' + entry.id + '"><%= image_tag("Close_Button.png", :class => "saved-story-delete-image")%></span>';
			story_div += '</div>';

			$('div.saved-container').append(story_div);
		});

		if (readLater.length == 0) {
			noSaved();
			$('.delete-all-saved').addClass('hidden');
		}
	}
	
	$(document).ready(function() {
		loadSaved();

		$('.saved-story-delete').click(function(event) {
			readLater = JSON.parse(localStorage.getItem("readLater") || null) || [];
			var parent = $(this).closest(".saved-story");
			_.remove(readLater, {id: $(this).attr("data-storyid")});
			localStorage.setItem("readLater", JSON.stringify(readLater));
			parent.remove();
			
		});

		$('.delete-all-saved').click(function() {
			localStorage.setItem("readLater", []);
			$('.saved-story').not('.alert').remove();
			noSaved();
		});
	});


</script>
