html, body
{
	width: 100%;
    height: 100%;
    background-color: grey;
    margin: 0;
    padding: 0;

}


.back-story-container {
	img.Page-image {
		position: absolute;
		width: 95%;
		height: 70%;
		top: 15%;
		left: 2.5%;
		z-index: 0;
	}
}

.story-container {
	display: none;
	margin: auto;
	width: 90%;
	text-align: center;
	z-index: 1;


	.title {

		@media (min-width: 800px) {
			font-size: 2rem;
		}
		font-family: 'Anton', sans-serif;
		text-transform: uppercase;
		font-size: 0.8rem;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}

	div.image-container {
		position: relative;
		/*background-color: white;*/
		margin-top:4%;
		padding: 1%;
		/*background-color: yellow;*/
		img.primary-image-noselect {
			pointer-events: none;
			display: block;
			width: 100%;
			margin-left: auto;
		    margin-right: auto;
	
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

	    }


	    div.view-count-container {
			position: absolute;
			opacity: 0.7;
			background-color: grey;
			width: 15%;
			height: 10%;
			bottom: 1.8%;
			right: 1%;
			img.view-count-image {
				position: absolute;
				width: 35%;
				height: 60%;
				left: 5%;
				top: 20%;
			}
			h3 {

				position: absolute;
				display: inline-block;
				font-family: Georgia, serif;
				font-size: 2.2vw;
				/*background-color: pink;*/

				color: white;
				top: -8%;
				right: 10%;
			}
		}
	}

    .share-buttons a {
    	text-decoration: none;
	    img {
			width: 3%;
			padding: 5px;
			border: 0;
			/*background-color: pink;*/
			box-shadow: 0;
			display: inline;
		}
	}

	.footer {
		font-family: 'Varela', sans-serif;
		margin-top: 10px;
		.footer-tag {
			vertical-align: top;
			text-transform: uppercase;
			font-size: 0.5rem;

			@media (min-width: 800px) {
				font-size: 1.5rem;
			}


			&.subject {
				position: absolute;
				left: 5%;
			}
			&.place {
				position: absolute;
				right: 5%;
			}
		}
	}

}

.story-container.active {
	display: block;
}


.container {
	position: relative;
	background-color: grey;
	div.menu-bar-container {
		/*background-color: pink;*/
		position: relative;
		width: 100%;
		img.menu-banner-image {
			display: block;
			width: 100%;
		}

		img.abc-home-image {
			position: absolute;
			top: 25%;
			left: 3%;
			width: 9%;
			height: 44%;
		}

		div.burger-button {
			position: absolute;
			top: 25%;
			right: 3%;
			width: 9%;
			height: 44%;
		}

		img.menu-hamburger-image {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}


	img.reject-image {
		cursor: pointer;
		position: absolute;
		top: 48%;
		left: 2%;
		width: 10%;
		z-index: 2;
		&:hover {
			opacity: 0.9;
		}
	}

	img.like-image {
		cursor: pointer;
		position: absolute;
		top: 48%;
		right: 2%;
		width: 10%;
		z-index: 2;

		&:hover {
			opacity: 0.9;
		}
	}
}

.feedback {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 26%;
	width: 25%;
	height: 15%;
	text-align: center;
	img.saved-feedback-image {
		position: absolute; 
		width: 100%;
		height: 100%;
		display: none;
	}

	img.reject-feedback-image {
		position: absolute; 
		width: 100%;
		height: 100%;
		display: none;
	}
}


/* Saved Stories Styles */

.saved-container {
	margin-bottom: 30px;
	h1 {
		font-family: 'Anton', sans-serif;
		text-transform: uppercase;
		text-align: center;
	}
	h3,h4,h5,h6 {
		font-family: 'Anton', sans-serif;
		text-align: center;
	}

	.delete-all-saved {
		cursor: pointer;
	}

	.saved-story.alert {
		text-align: center;
	}

	.saved-story {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		border-radius: 5px;
		background-color: #ddd;
		margin-top: 5px;
		padding: 10px;

		font-family: 'Anton', sans-serif;
		text-transform: uppercase;


		a {
			text-decoration: none;
			color: #000;
			margin-right: 27px;

		}

		.saved-story-share {
			color: #aaa;
			background-color: #555;
			padding: 1px;
			padding-left: 9px;
			padding-right: 9px;
			border-radius: 4px;
		}
		.saved-story-delete {
			img {
				float: right;
				clear: right;
				max-height: 22px;
				cursor: pointer;
			}
		}
	}
}

/* End Saved Stories Styles */

.hidden {
	display: none;
}

/*stats page*/

.stats-content {
	color: white;

	h1, h2, h3 {
		color: white;
		font-family: 'Anton', sans-serif;
		text-transform: uppercase;
		text-align: center;
	}

	width: 90%;
	background-color: #3A3A3C;
	height: 500px;
	margin: auto;
	margin-top: 20px;

	#subject-chart {
		width: 100%;
	}

	#time-chart {
		margin-top: 45px;
	}

	#recent-map {
		background-color: #3a3a3c;

	}

	#national-map {
		width: 100%;
		height: 100%;
		border: none;
	}

	.national-map-image {
    	width: 100%;
	}


}

/*end stats page*/
